################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FISA_A3_GL_AYSE/FileContentIndex
/.vs/slnx.sqlite
